.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--vr2);
}

.calendar-item {
  height: 120px;

  background: var(--nm-background);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.calendar-item {
  text-decoration: none;
  background-color: #cae3d7;
}

a.calendar-item:active {
  box-shadow: var(--nm-box-shadow-inset);
  filter: none;
}
