<%= live_redirect "Back", to: "/" %>
<h1>
  <a href={"https://adventofcode.com/2021/day/#{@day}"} target="_blank">
    Day <%= @day %>
  </a>
</h1>
<section class="exercises">
  <%= for exercise <- @exercises do %>
    <%= live_render(@socket, ExerciseComponent, id: Exercise.name(exercise), session: %{
      "exercise" => exercise
    }) %>
  <% end %>
</section>
