<h1>
  <a href={"https://adventofcode.com/2021/day/#{@day}"} target="_blank">
    Day <%= @day %>
  </a>
</h1>
<section class="exercises">
  <%= for exercise <- @exercises do %>
    <.live_component
      module={ExerciseComponent}
      id={"exercise-#{exercise_name(exercise)}"}
      exercise={exercise}
      title={exercise_name(exercise)}
    />
  <% end %>
</section>
